# Projet Museum

**Liste des Musées en France**

In [28]:
import pandas as pd
import numpy as np

data1 = pd.read_csv("/Users/ronanlamour/Desktop/THP_Ronan_Lamour/Semaine_4/Day_2/museumData.csv",encoding='latin-1', sep = ';')

In [29]:
df_musee = pd.DataFrame(data1)

**Combien y-a-t-il de musées en France métropolitaine ?**

In [7]:
len(data1)

3784

**Dans quelle(s) ville(s) y-a-t-il de plus de musées ?**

In [11]:
data1['city'].value_counts().idxmax()

'Paris'

**Quel est le nombre moyen de musées par ville ?**

In [12]:
data1['city'].value_counts().mean()

1.647930283224401

**Quel est le nombre médian de musées par ville ?**

In [13]:
data1['city'].value_counts().median()

1.0

**Comment sont répartis les musées par type (en pourcentage) ?**

In [14]:
pourcentage100 = data1['tags'].value_counts(normalize=True).mul(100).round(2).astype(str)
pourcentage100

osm:museum                                                                               57.51
osm:museum;type:ecomusee                                                                 10.23
osm:museum;type:musee technique et industriel                                             5.13
osm:museum;type:musee d'histoire                                                          3.49
osm:museum;art:architecture                                                                3.2
                                                                                         ...
osm:museum;art:art medieval;type:centre d'interpretation                                  0.03
osm:museum;type:maison d'artiste;gender:musee de femme                                    0.03
osm:museum:;type:centre d'art;gender:musee d'homme                                        0.03
osm:museum;art:art moderne;art:art contemporain;art:art brut;type:musee de beaux-arts     0.03
osm:museum;art:art moderne;type:musee de beaux-arts;gender:musee d'homme                  0.03
Name: tags, Length: 119, dtype: object

**Combien y-a-t-il de musées dont le nom commence par "Château" ?**

In [15]:
 data1['name'].str.startswith('Château').value_counts()

False    3727
True       57
Name: name, dtype: int64

**Pour combien de musées dispose-t-on de l'adresse du site web ?**

In [30]:
df_musee['email'].value_counts()

musees@ville.angers.fr             3
info@musees-rouen-normandie.fr     2
public@nmnm.mc                     2
musee.calvet@mairie-avignon.com    2
musart@ville-troyes.fr             2
                                  ..
musees@bergerac.fr                 1
musee-mer@ville-paimpol.fr         1
musee@ajecta.org                   1
info@mausa.fr                      1
defibois39@gmail.com               1
Name: email, Length: 295, dtype: int64

**Quel département français possède le plus de musées sur son territoire ?**

In [31]:
df_musee["departement"] = df_musee['postal_code'].astype(str).str[0:2]
df_musee["departement"].value_counts()

75    180
59     97
33     94
71     91
13     90
     ...
28     14
23     11
90     10
48      9
98      8
Name: departement, Length: 88, dtype: int64

**Quel département français possède le moins de musées sur son territoire ?**

In [46]:
departement = df_musee['postal_code'].dropna()
departement = departement.astype(int).astype(str).str.slice(stop=2)
print("Le départment ayant le plus de musée est le", departement.value_counts().idxmin(),".")

Le départment ayant le plus de musée est le 98 .

**Combien de musées ont "Napoléon" dans leur nom ?**

In [32]:
df_musee["name"].str.contains("Napoléon").value_counts()

False    3780
True        4
Name: name, dtype: int64

# Partie 2

**Proposer deux axes d'analyse supplémentaires**

# Projet University

World University Rankings

**Donne un aperçu de chaque fichier csv et décris en une phrase son contenu**

import pandas as pd
import numpy as np

data1 = pd.read_csv("/Users/ronanlamour/Desktop/THP_Ronan_Lamour/Semaine_4/Day_2/cwurData.csv",encoding='latin-1')
df1 = pd.DataFrame(data1)

In [41]:
df1.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

**Quelles années sont prises en charge par chaque classement ?**

**Combien d'universités sont prises en compte annuellement par chaque classement en moyenne ? Il s'agit ici de donner le nombre moyen d'universités prises en compte par chaque classement lors d'une année**

**Quels sont les rankings obtenus par l'Université de Strabourg dans chacun des 3 classements disponibles ?**